@font-face {
  font-family: 'Consolas';
  src: url("../assets/fonts/Consolas.ttf");
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url("../assets/fonts/SourceSansPro.ttf");
}
@font-face {
  font-family: 'Source Han Sans CN Light';
  src: url("../assets/fonts/SourceHanSansCN-Light.otf");
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
td,
tr,
table,
pre,
figure {
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
  font-family: 'Source Sans Pro', 'Source Han Sans CN Light', 'Microsoft YaHei';
  height: 100%;
}
a {
  text-decoration: none;
  outline: none;
}
body {
  word-break: break-word;
  height: 100%;
  background: #eee;
  background-image: -o-linear-gradient(rgba(255,255,255,0.302) 1px, transparent 0), -o-linear-gradient(left, rgba(255,255,255,0.302) 1px, transparent 0);
  background-image: linear-gradient(rgba(255,255,255,0.302) 1px, transparent 0), linear-gradient(90deg, rgba(255,255,255,0.302) 1px, transparent 0);
  background-size: 8px 8px, 8px 8px;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: #aaa;
}
body::-webkit-scrollbar-track {
  background-color: #f8f8f8;
}
.header {
  margin: 1rem;
  padding-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  border-bottom: 1px dashed #ddd;
}
@media screen and (max-width: 960px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.header .title {
  margin: 0 1rem;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  font-size: 1.8rem;
  font-weight: 300;
  color: #444;
}
.header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (max-width: 960px) {
  .header nav {
    margin: 1rem 0 0 0.5rem;
  }
}
.header nav a {
  margin: 0 0.5rem;
  color: #aaa;
}
.header nav a:hover {
  color: #ffad21;
}
.container {
  margin: 5rem auto;
  width: 900px;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 2px 2px #ddd;
  box-shadow: 0 1px 2px 2px #ddd;
}
@media screen and (max-width: 960px) {
  .container {
    margin: 0;
    width: 100%;
  }
}
.main-container {
  margin: 0 1rem;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.pagination-container {
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.pagination-container .page-number {
  display: block;
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  line-height: 2rem;
  color: #aaa;
}
.pagination-container .page-number:hover {
  color: #fff;
  background-color: #aaa;
}
.pagination-container .current {
  color: #fff;
  background-color: #444;
}
.pagination-container .current:hover {
  color: #fff;
  background-color: #444;
}
.pagination-container .extend {
  display: block;
  height: 2rem;
  width: 3rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  line-height: 2rem;
  color: #aaa;
}
.pagination-container .extend:hover {
  color: #fff;
  background-color: #aaa;
}
.pagination-container .space {
  display: block;
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  line-height: 1.5rem;
}
.post {
  width: 100%;
  margin: 1rem;
  padding: 1rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.post-header {
  margin-bottom: 2rem;
}
.post-header .post-title {
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
  font-weight: normal;
  word-break: break-word;
}
.post-header .post-title a {
  color: #444;
}
.post-header .post-detail {
  color: #444;
  font-size: 14px;
}
.post-content a {
  color: #ffad21;
}
.post-content h1 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #444;
  font-size: 1.8rem;
  font-weight: normal;
}
.post-content h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #444;
  font-size: 1.6rem;
  font-weight: normal;
}
.post-content h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #444;
  font-size: 1.4rem;
  font-weight: normal;
}
.post-content h4 {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  color: #444;
  font-size: 1.2rem;
  font-weight: normal;
}
.post-content h5 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: #444;
  font-size: 1rem;
  font-weight: normal;
}
.post-content h6 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: #444;
  font-size: 1rem;
  font-weight: normal;
}
.post-content hr {
  margin: 1rem 0;
}
.post-content br {
  line-height: 0;
}
.post-content .img-wrapper {
  width: 100%;
  margin: 1rem 0;
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.post-content .img-wrapper .fancybox {
  margin: 0 auto;
  display: block;
}
.post-content .img-wrapper .fancybox img {
  max-width: 100%;
  max-height: 360px;
}
.post-content .img-wrapper .img-caption {
  text-align: center;
  color: #aaa;
  font-size: 14px;
}
.post-content p {
  line-height: 2rem;
}
.post-content code {
/* display: inline-block
    height: 1.2rem
    margin: 0 2px
    padding: 0 4px
    border-radius: 3px
    color: $deep-orange
    background-color: $grey-f8
    font-size: 0.8rem
    font-family: $monospace
    line-height: 1.2rem */
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 1.4rem;
  margin: 0 4px;
  padding: 0 4px;
  background-color: #f8f8f8;
  border: 1px solid #aaa;
  line-height: 1.4rem;
  font-size: 0.8rem;
  font-family: 'Consolas', 'monospace', 'Source Han Sans CN Light';
}
.post-content ul,
.post-content ol {
  margin: 1rem 0;
  padding-left: 1rem;
}
.post-content li {
  line-height: 1.5rem;
}
.post-content li ol {
  margin: 0;
}
.post-content li ul {
  margin: 0;
  list-style-type: disc;
}
.post-content blockquote {
  max-width: 100%;
  margin: 1rem 0;
}
.post-content blockquote p {
  padding: 1rem;
  background-color: #f8f8f8;
  color: #444;
  border-left: 4px solid #ddd;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.post-content .highlight {
  position: relative;
  margin: 1rem 0;
  overflow: auto;
  background-color: #f8f8f8;
  border: 1px solid #aaa;
}
.post-content .highlight::-webkit-scrollbar-track {
  background-color: #ddd;
}
.post-content .highlight::-webkit-scrollbar {
  height: 8px;
}
.post-content .highlight::-webkit-scrollbar-thumb {
  background-color: #aaa;
}
.post-content .highlight table {
  width: 100%;
  border-spacing: 0;
}
.post-content .highlight tbody {
  display: block;
}
.post-content .highlight .gutter {
  display: none;
}
.post-content .highlight .code {
  padding: 0.5rem 0.75rem;
}
.post-content .highlight .code .line {
  color: #444;
  font-size: 0.8rem;
  font-family: 'Consolas', 'monospace', 'Source Han Sans CN Light';
  line-height: 1.3rem;
}
.post-content .html .name {
  color: #ff7200;
}
.post-content .html .string {
  color: #00b265;
}
.post-content .html .comment {
  color: #aaa;
}
.post-content .javascript .keyword {
  color: #ff7200;
}
.post-content .javascript .string {
  color: #00b265;
}
.post-content .javascript .comment {
  color: #aaa;
}
.post-content .javascript .built_in {
  color: #ff7200;
}
.read-more-link {
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}
.read-more-link a {
  padding: 2px 6px;
  color: #444;
  outline: 1px solid #000;
}
footer {
  margin: 1rem;
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px dashed #ddd;
}
footer .owner {
  color: #aaa;
}
footer .owner a {
  color: #ffad21;
}
.archive-container {
  width: 90%;
  padding: 1rem;
}
.archive-container .archive-year {
  font-size: 1.5rem;
  font-family: 'Source Sans Pro', 'Source Han Sans CN Light', 'Microsoft YaHei';
  color: #444;
}
.archive-container .archive-year:nth-child(n+2) {
  margin-top: 2rem;
}
.archive-container .archive-item {
  margin-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
.archive-container .archive-item .archive-month-day {
  margin-right: 0.5rem;
  color: #aaa;
  font-size: 1rem;
  font-family: 'Consolas', 'monospace', 'Source Han Sans CN Light';
  white-space: nowrap;
}
.archive-container .archive-item .archive-title {
  color: #444;
  line-height: 1.5rem;
  word-break: break-word;
  -webkit-transition: color 100ms ease-out;
  -o-transition: color 100ms ease-out;
  transition: color 100ms ease-out;
}
.archive-container .archive-item .archive-title:hover {
  color: #ffad21;
}
.works-container {
  width: 90%;
  margin-top: 1rem;
}
.works-container .work-type-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin-bottom: 0.8rem;
}
.works-container .work-type-container .work-type {
  color: #444;
  font-size: 1.4rem;
}
.works-container .work-type-container .more-btn {
  margin-left: 1rem;
  color: #aaa;
}
.works-container .work-item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 2rem;
}
.works-container .work-item-container .work-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0.5rem;
  -webkit-box-shadow: 0 1px 2px 1px #e3e3e3;
  box-shadow: 0 1px 2px 1px #e3e3e3;
  overflow: hidden;
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .works-container .work-item-container .work-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .works-container .work-item-container .work-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.works-container .work-item-container .work-item .work-ss-cover {
  line-height: 0;
}
.works-container .work-item-container .work-item .work-ss-cover .work-ss {
  width: 100%;
  max-width: 240px;
}
.works-container .work-item-container .work-item .work-detail {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.works-container .work-item-container .work-item .work-detail .work-name {
  padding: 1rem 0;
  color: #444;
  text-align: center;
}
.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1rem;
}
.about-container .about-avatar {
  max-height: 256px;
  max-width: 256px;
}
.about-container .about-item {
  margin: 1rem 0;
  line-height: 1.5rem;
  color: #444;
}
.about-container .about-item a {
  color: #ffad21;
}
