@font-face {
  font-family: 'Motiva Sans';
  src: url(../fonts/MotivaSans-Regular.woff.ttf),
       url(../fonts/MotivaSans-Light.ttf),
       url(../fonts/MotivaSans-Bold.ttf);
}

body {
  background-color: #1B2838;
}

.page_content_ctn { margin: 5rem 0; }

.page_content {
  width: 940px;
  margin: 0 auto;

  hr {
    margin: 0;
    margin-bottom: 10px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
  }

  .wishlist_header {
    display: flex;
    align-items: center;
    margin: 15px 0 25px 0;

    img { 
      width: 4rem; 
      height: 4rem;
    }

    h2 {
      margin: 0;
      margin-left: 15px;
      color: #fff;
      font-family: "Motiva Sans";
      font-size: 1.625rem;
      font-weight: 300;
      line-height: 4rem;
    }
  }

  .controls {
    display: flex;
    align-items: center;
    margin-left: -15px;
    margin-bottom: 12px;

    .filter_tab {
      height: 20px;
      margin-right: 15px;
      padding: 10px 14px 8px 14px;
      line-height: 20px;
      color: #9099a1;
      font-size: 13px;
      font-family: "Motiva Sans";
      letter-spacing: 1px;
      transition: background-color 300ms;
      cursor: pointer;

      span { color: #fff; }

      &:hover { background-color: rgba(255, 255, 255, 0.1); }
    }

    .search {
      flex-grow: 1;
      display: flex;
      align-items: center;
      padding-left: 14px;
    
      img { width: 16px; }

      #wishlist_search {
        flex-grow: 1;
        padding: 7px 10px;
        color: #fff;
        font-size: 13px;
        border: 1px solid #000;
        border-radius: 3px;
        background-color: rgba(255, 255, 255, 0.1);

        &:hover { border-color: rgba(255, 255, 255, 0.1); }
        &:focus { 
          outline: none;
          border-color: rgba(0, 140, 255, 0.5);
        }
      }
    }
  }

  .wishlist_ctn {
    position: relative;

    &.sorting {
      user-select: none;

      .set_top, .order_input { opacity: 0; }
    }

    .wishlist_row {
      position: absolute;
      display: flex;
      width: 100%;
      margin-bottom: 9px;
      color: #b2b8bd;
      box-shadow: 0 0 5px rgba(0,0,0,0.2);
      background-color: rgba(64, 81, 99, 0.9);
      transition: top 200ms;

      .hover_handle {
        display: flex;
        flex-shrink: 0;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 40px;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
        
        .set_top {
          margin-top: 6px;
          font-size: 12px;
          color: #8f98a0;
          cursor: pointer;
          transition: opacity 0.1s linear;
        }

        .handle { 
          cursor: move;
          user-select: none;
        }

        .order_input {
          width: 22px;
          margin-bottom: 5px;
          padding: 3px 4px;
          color: #6d7985;
          background-color: #313c48;
          border-radius: 3px;
          border: none;
          text-align: center;
          font-size: 12px;
          transition: opacity 0.1s linear;
        }
      }

      .capsule {
        margin: 1rem;
        img {
          width: 292px;
          height: 136px;
        }
      }

      .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 1rem 1rem 1rem 0;
        overflow: hidden;

        .title {
          margin-bottom: 15px;
          color: #fff;
          font-size: 1.4rem;
          font-family: "Motiva Sans";
          text-decoration: none;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .mid_ctn {
          display: flex;
          align-items: center;
          margin-bottom: 10px;

          .stats {
            flex-grow: 1;
            display: grid;
            grid-template-columns: 140px auto;
            grid-template-rows: 1rem 1rem;
            text-transform: uppercase;
            white-space: nowrap;
            font-size: 12px;
            font-family: "Motiva Sans";

            .positive {
              color: #66C0F4;
            }
          }

          .purchase_ctn {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 32px;
            padding: 2px;
            background-color: rgba(0, 0, 0, 0.2);

            .price {
              padding: 0 10px;
              color: #fff;
              font-family: "Motiva Sans";
              font-size: 13px;
            }

            .add_to_cart_btn {
              height: 32px;
              padding: 0 1rem;
              color: #D2E885;
              line-height: 32px;
              font-size: 15px;
              text-decoration: none;
              border-radius: 2px;
              background: linear-gradient(to bottom, rgba(121,153,5,1) 5%, rgba(83,105,4,1) 95%);
            }
          }
        }

        .platform_ctn {
          display: flex;
          margin-bottom: 12px;

          .platform_img {
            display: block;
            width: 20px;
            height: 20px;
            
            &.win { background-image: url(../icons/icon_platform_win.png) };
            &.mac { background-image: url(../icons/icon_platform_mac.png) };
            &.linux { background-image: url(../icons/icon_platform_linux.png) };
          }
        }

        .lower_ctn {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .tags {
            display: flex;

            .tag {
              height: 13px;
              margin-right: 3px;
              padding: 2px 5px;
              color: #8f98a0;
              font-size: 12px;
              border: 1px solid rgba(255, 255, 255, 0.2);
              border-radius: 3px;
              cursor: pointer;

              &:hover { background: rgba(255,255,255,0.1); }
            }
          }

          .addedon {
            font-family: "Motiva Sans";
            font-size: 12px;

            .delete { 
              color: #b2b8bd;
              text-decoration: underline dotted; 
            }
          }
        }
      }
    }
  }
}